*,
*:before,
*:after {
 -webkit-box-sizing:content-box !important; 
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 box-sizing:content-box !important;
}

#chessboard {
    width: 480px;
    height: 480px;
    margin: 20px;
    border: 25px solid #233D34;

}

#chessboard > .white1, #chessboard > .black2, .highlighted, .selected, .takeable {
    text-align: center;
}

#chessboard > .white1, #chessboard > .black2, .highlighted {
    cursor: default;
}

.black2 {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #999;
    font-size: 45px;
    line-height: 50px;
}
.white1 {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #fff;
    font-size: 45px;
    line-height: 50px;
}

.highlighted {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: #16574B;
}

.selected {
    float: left;
    width: 60px;
    height: 60px;
    font-size: 45px;
    line-height: 50px;
    background-color: #16574B;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.takeable {
    /* background-color: rgb(121, 29, 29); */
    background-color: rgb(177, 75, 2);
    float: left;
    width: 60px;
    height: 60px;
    font-size: 45px;
    line-height: 50px;
}