<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- <link rel="stylesheet" href="tailwind.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/playingStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages.css') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Endgamez</title>

    
  </head>

  <body style="background-color: #0C1E1E;" onload="generateBoard()">
    <nav class="z-depth-0">
      <div class="nav-wrapper" style="background-color: #0C1E1E">
        <div class="row">
          <div class="col s3 offset-s1">
            <a href="/" class="brand-logo white-text">Endgamez</a>
          </div>
        </div>
      </div>
    </nav>
    
  <!-- Hint modal -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Hint</h4>
        <p id="hintArea">A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Ok</a>
      </div>
    </div>


    <br><br><br>

    <div class="row">
      <div class="col s12 m12 l6 offset-l1">
        <div id="chessboard">
          <!-- White pieces -->
          <div id="a8" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="b8" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="c8" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="d8" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="e8" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="f8" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="g8" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="h8" class="black2" onclick="board.selectPiece(this);"></div>

          <div id="a7" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="b7" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="c7" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="d7" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="e7" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="f7" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="g7" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="h7" class="white1" onclick="board.selectPiece(this);"></div>

          <div id="a6" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="b6" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="c6" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="d6" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="e6" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="f6" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="g6" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="h6" class="black2" onclick="board.selectPiece(this);"></div>

          <div id="a5" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="b5" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="c5" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="d5" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="e5" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="f5" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="g5" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="h5" class="white1" onclick="board.selectPiece(this);"></div>

          <div id="a4" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="b4" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="c4" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="d4" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="e4" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="f4" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="g4" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="h4" class="black2" onclick="board.selectPiece(this);"></div>

          <div id="a3" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="b3" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="c3" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="d3" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="e3" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="f3" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="g3" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="h3" class="white1" onclick="board.selectPiece(this);"></div>

          <div id="a2" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="b2" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="c2" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="d2" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="e2" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="f2" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="g2" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="h2" class="black2" onclick="board.selectPiece(this);"></div>

          <div id="a1" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="b1" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="c1" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="d1" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="e1" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="f1" class="white1" onclick="board.selectPiece(this);"></div>
          <div id="g1" class="black2" onclick="board.selectPiece(this);"></div>
          <div id="h1" class="white1" onclick="board.selectPiece(this);"></div>
        </div>
      </div>
      <br><br><br>
      <div class="col s8 m4 l4 offset-s1 offset-m4 offset-s2">
        <div style="background-color: #233D34;" class="card">
          <div class="row">
            <div class="center-align">
              <h4 class="white-text"style=" padding-top: 2vh">{{ playingEndgame[1] }}</h4>
              <h5 class="white-text" id="turnToMove" style=" padding-top: 2vh; padding-bottom: 1vw;">White to Move</h5>
              {% if moveCount == 1 %}
                <h6 class="white-text" id="moveCounter" style="padding-bottom: 1vw;">{{ moveCount }} move until mate</h6>
              {% else %}
                <h6 class="white-text" id="moveCounter" style="padding-bottom: 1vw;">{{ moveCount }} moves until mate</h6>
              {% endif %}
              <div class="row" style="padding-bottom: 5%;">
                <div class="col s12 m2 l2 offset-l3 offset-m2">
                  <a class="btn button2 waves-effect waves-light modal-trigger" id="hint" href="#modal1" onclick="getHint()">Hint?</a>
                </div>
                <div class="col s12 m2 l2 offset-l1 offset-m1">
                  <a class="btn button2 waves-effect waves-light" id="solve">Solve</a>
                </div>
              </div>
              <div class="row">
                <div class="center-align">
                  <a href="javascript:window.location.href=window.location.href" class="btn lighten-1 waves-effect waves-light button1">Restart</a>
                </div>
              </div>
            </div>
            
          </div>
            
          
        </div>
      </div>
    </div>

    
      
    
  </body>
  
    <!--JavaScript at end of body for optimized loading-->
    <!-- <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="jquery-3.6.0.js"></script> -->
    <script>
        M.AutoInit()
    </script>
    <script>
      function generateBoard() {
        board.fenToBoard("{{ fen }}")
        board.draw()
      }
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
      });
    </script>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>